/*--------------------
fonts
----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/*--------------------
variables
----------------------*/
:root {
  --main-color: #ffe156;
  --contrast-color: #fe5f00;
  --netural-color: #0a100d;
  --cursive-font: "Dancing Script", cursive;
  scroll-behavior: smooth;
}
/*--------------------
Global settings
----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fe5f00;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-weight: 700;
  color: var(--contrast-color);
}
h2 {
  font-weight: 600;
  color: var(--contrast-color);
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--contrast-color);
}
p {
  font-size: 16px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.min-vh-100 {
  min-height: 100vh;
}
.sec-padding {
  padding: 80px 0;
}
section {
  overflow: hidden;
}

/* section title */
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: capitalize;
}
.section-title h2::before {
  display: block;
  font-size: 24px;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
  text-transform: capitalize;
}
/* buttons */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
}
.btn-default {
  border: 2px solid var(--main-color);
}
.btn-default:hover {
  color: var(--contrast-color);
  background-color: var(--main-color);
}
/* animation keyframes */
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pageLoader {
  0%,
  100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
}

/*--------------------
Navigation starts here
----------------------*/
.Rlogo {
  color: #fe5f00;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serifs;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}
/* homepage styles starts*/
.home-section {
  position: relative;
  overflow: hidden;
}
.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--netural-color);
  opacity: 0.2;
  z-index: -1;
}
.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}
.home-section .min-vh-100 {
  padding: 100px 0;
}
.home-text {
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.home-text h1 {
  font-family: var(--cursive-font);
  font-size: 60px;
  line-height: 75px;
  margin: 0 0 5px;
}
/* homepage styles ends here*/
/* -------------
 About us styles starts here
 ---------------*/
.about-section {
  background-color: var(--main-color);
}
.about-text,
.about-img {
  width: 50%;
  padding: 0 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.about-text p {
  margin: 0 0 15px;
  font-size: 20px;
}
.about-text .btn {
  margin: 15px 0 0;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-img .img-box {
  position: relative;
}
.about-img .img-box::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid var(--main-color);
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  animation: spin01 10s linear infinite;
}
.about-img .img-box h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: var(--cursive-font);
  color: var(--dark);
  font-weight: bold;
  text-transform: capitalize;
}
/*---------------
About us section ends here
-----------------*/
/*---------------
Our menu section starts here
-----------------*/
.menu-section {
  background-color: inherit;
}
.row-menu-content {
  display: flex;
  flex-direction: column;
}
.menu-item img {
  width: 100%;
  height: 50px;
}
/*---------------
Our menu section ends here
-----------------*/
/*---------------
Resposive section
-----------------*/
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fe5f00;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fe5f00;
    color: #ffe156;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
