@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ffe156;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #fe5f00;
  min-height: 100vh;
}
.Rlogo {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #fe5f00;
  text-decoration: none;
}
.Rlogo-name {
  margin-left: 1em;
}
.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 18px;
}
.nav-links a:hover {
  color: #00000085;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.full-heigh-grow {
  display: flex;
  flex-direction: column;
}
.ordernowBtn {
  color: #0a100d;
  background-color: #fe5f00;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1em;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fe5f00;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffe156;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
