/*--------------------
global settings
----------------------*/
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #ffe156;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #fe5f00;
  min-height: 100vh;
}
/*.container {
  max-width: 1170px;
  background-color: #ffe156;
  margin: auto;
}
/*--------------------
Navigation starts here
----------------------*/
.Rlogo {
  color: #fe5f00;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serifs;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}
/* homepage styles*/
.homepageBox {
  position: relative;
  width: 1440px;
}
.homepageIMG {
  width: 1440p;
  background-image: url(images/header.jpg);
  background-size: 100%;
  height: 92vh;
  top: 70px;
}

.ordernowBtn {
  background-color: #ffe156;
  color: #fe5f00;
  font-size: 30px;
  top: 80%;
  left: 50%;
  text-align: center;
  padding: 16px 30px;
  border: none;
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* ---------
 About us styles
 .............*/
.row {
  display: flex;
  flex-wrap: wrap;
}
.sec-padding {
  padding: 80px 0;
  height: 100vh;
}
.section-title {
  color: #fe5f00;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: uppercase;
}

.aboutsection {
  background-color: inherit;
}
.about-text {
  width: 50%;
  padding: 0 15px;
  font-size: 28px;
}
.about-img,
.about-text {
  width: 50%;
  padding: 0 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.about-text p {
  font-size: 25px;
  margin: 0 0 15px;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-img .img-box {
  position: relative;
}
.about-img .img-box h3 {
  position: absolute;
  background-color: #ffe156;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: sans-serif;
}
.about-btn {
  background-color: #fe5f00;
  color: #ffe156;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 16px 30px;
  position: relative;
  top: 30%;
}
/*---------------
About us section ends here
-----------------*/
/*---------------
Our menu section starts here
-----------------*/
.menu-section {
  background-color: inherit;
}
/*---------------
Our menu section ends here
-----------------*/
/*---------------
Resposive section
-----------------*/
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fe5f00;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fe5f00;
    color: #ffe156;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
